body {
    padding:2em;
    font:0.9em/1.4 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight:300;
    color:#777;
}

a {
    text-decoration: none;
    font-weight: 500;
}

header h1 {
    margin-bottom: 0;
}

.container {
    margin: 0 auto;
    width: 25em;
    text-align: center;
    -webkit-backface-visibility: hidden;
}

p {
    text-align: justify;
    color: #555;
}
p a {
    color: #555;
}

.social a {
    color: #777;
    display: inline-block;
    font-size: 1.5em;
    margin: 0.3em;
}